body {
  background-image: url("background.jpeg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  min-height: 1200px;
  overscroll-behavior: none;
  margin: 0px;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 2px solid #ccc;
  background-color: #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
.mainImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 15%;
}

.formDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

form * {
  text-align: center;
  margin: auto;
}

.navBar {
  display: block;
  height: 40px;
  line-height: 40px;
  background-color: #333;
  border-radius: 4px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
}

.navBar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding-left: 14px;
  padding-right: 14px;
  text-decoration: none;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

.navBar a:hover {
  background-color: black;
  border-radius: 5px;
}

.navBar .fa {
  padding: 20px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.navbar.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Twitter */
.fa-twitter {
  background: #55acee;
  color: white;
}
