body {
  background-image: url("background.jpeg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 1200px;
}

.formDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30%;
}

form * {
  text-align: center;
  margin: auto;
}

h1 {
  color: blue;
}
